.order {
    width: calc(100vw - 350px);
    display: flex;
    margin-top: 20px;
    padding-left: 100px;
  }
  .table-data {
    width: 100%;
  }
  .table-data td button {
    width: 30px;
    height: 20px;
    border: none;
    border-radius: 5px;
    background-color: #008cba;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .table-data td button:hover {
    cursor: pointer;
  }
  