.card{
    padding: 0px;
    margin: 0px;
    width: 250px;
    height: 100%;
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.05);
    transition: all 1s;
    border-radius: 3px; 
    background-color: #ffffff;
    box-sizing: border-box;
}

.card:hover {
    cursor: pointer;
    box-shadow: 5px 10px 10px rgb(0, 0, 0, 0.30);
}

.header{
    margin: 0px;
    padding-top: 30px;
    height: 20%;
    display: flex;
    justify-content: center;
    color: green;
    font-size: 25px;
}

.img{
    height: 100%;
    width: 100%;
    border-radius: 3px 3px 0 0;   
}

.span{
    margin: 0;
    padding: 10px 5px;
    font-size: 15px;
    overflow: hidden;
    color: rgb(91, 168, 91);
}

.p{
    margin: 0px;
    padding: 5px;
    font-size: 13px;
    overflow: hidden;
}
