*{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: sans-serif;
    height: fit-content;
}

.title {
    height: 100px;
    font-size: 23px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.removeAll{
    color: #bfc0cb;
}

.deleteBtn{
    color: #e22e2e;
}

.ptr:hover{
    cursor: pointer;
}

.buyList{
    width: 70%;
    display: flex;
}

.card{
    padding: 5px;
    height: 120px;
    width: 100%;
    border-top: 1px solid #a1a1a1;
    border-bottom: 1px solid #a1a1a1;
    display: flexbox;
    white-space: nowrap;
}

.card img{
    width: 20px;
}

.card .info{
    width: 40px;
    height: calc(100% - 10px);
    box-sizing: border-box;
    padding: 0 10px;
}

.card .price{
    width: 10px;
    box-sizing: border-box;
    padding: 0 10px;
}

.card .quantity{
    width: 20px;
    box-sizing: border-box;
    padding: 0 10px;
}

.card .cost{
    width: 10px;
    box-sizing: border-box;
    padding: 0 10px;
}

input{
    width: 40px;
    display: flex;
    justify-content: center;
}

