.header-title{
    padding: 30px 15px;
    border-bottom: 1px solid #ededed;
    margin-bottom: 60px;
    text-align: center;
}

.header-title h1{
    font-size: 42px;
    font-weight: 700;
    margin: 0;
}

.header-title h1::after{
    content: "";
    display: block;
    width: 130px;
    height: 4px;
    margin: 50px auto 0;
    background: #252a2b;
}

.account-sidebar h3{
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
}

.account-content .action-content .link{
    display: block;
    padding: 5px 0;
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.account-content .action-content .link:hover .icon{
    color: #e85205;
}
.account-content .action-content .link:hover{
    color: #e85205;
}

.account-sidebar .action-content .icon{
    float: left;
    margin-left: 0;
    font-size: 13px;
}
