.body{
    width: 100%;
    height: 300px;
    background-color: black;
    color: #eee;
}

*{
    margin: 0px;
    padding: 0px;
}

.container{
    height: 100%;
    display: flex;
}

.section{
    width: calc(100% / 3);
    display: block;
    height: 100%;
}

.image{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.i{
    margin: 5px;
    font-size: 45px;
}

.text{
    height: 50%;
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

